.reveal .slides {
    text-align: left;
}
.reveal .slides section>* {
    margin-left: 0;
    margin-right: 0;
}

.reveal pre code {
  font-size: 0.8em;
  line-height: 1.1;
}

/*
.reveal pre {
  width: 80%;
  margin-left: -10%;
}
*/

.reveal ul {
   padding-left: 50px;
}
